/* Login */
.MyStyle_login_fondo{
    background-color: #272c33;
}

.MyStyle_login_box{
    color: #000 !important;
    background: #eef5f9 !important;
    width: 600px !important;
    margin-top: 5% !important;
    border: none;
}

/* Card 1 */
.MyStyle_Card1_Fondo{
    height: 100%;
    background: url(../assets/images/Logos/logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.MyStyle_Box_Logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -10%;
    left: 30%;
}


/* Card 2 */
.MyStyle_Logo_Empresa{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.MyStyle_Card2_box{
    padding-top: 25%;
}

.MyStyle_Form_Control{
    color: #000 !important;
}

.MyStyle_Form_Control:focus{
    /* background-color: #00897b !important; */
    background-image: linear-gradient(#00897b, #00897b), linear-gradient(rgba(120, 130, 140, 0.13), rgba(120, 130, 140, 0.13)) !important;
}

.MyStyle_Btn_Login{
    color: #fff;
    background-color: #00897b;
    border: 2px solid #eef5f9;
}

.MyStyle_Btn_Login:hover{
    color: #00897b ;
    background-color: #eef5f9;
    border: 2px solid #00897b;
}

/* Recuperar Contraseña */
.MyStyle_btn_Regresar{
    position: absolute;
    top: 10%;
}


/* Registro */
.MyStyle_Card_Header{
    background: #07575B!important;
    border-color: #07575B !important;
}

.MyStyle_File_Card{
    padding-top: 0 !important;
}


/* .form-horizontal label {
    padding-top: 7px !important;
} */



/* Panel de Control */
.tabs-vertical > li > a > span > i{
    margin-right: 10px;
}

.MyStyle_Tabs{
    width: 800px !important;
}

/* Tabla Llamadas */
.MyStyle_Color-Table thead tr th{
    background-color: #00897b !important;
    color: #ffffff !important;

}

.MyStyle_Table_num{
    max-width: 10px !important;
}
.MyStyle_Table_Estado{
    max-width: 10px !important;
}
.MyStyle_Table_Opciones{
    min-width: 180px;
}
.MyStyle_Table_Fecha{
    max-width: 10px !important;
}

.MyStyle_Table_Hora{
    max-width: 40px !important;
}

.MyStyle_demo-checkbox{
    min-width: 50px !important;
}

.MyStyle_Guion{
    margin-top: 290%;
}

.MyStyle_Card_Filtro{
    background-color: #f2f4f8 !important;
}

.MyStyle_Card_Detalle{
    box-shadow: none !important;
}

.MyStyle_Modal_Dialog{
    max-width: 600px !important;
}

.MyStyle_Calentar_List{
    padding: 8px 10px;
    border: 1px solid #ffffff;

}